*{
    margin: 0px;
    padding:0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Raleway";
}

body {
    color: black;
    font-size: 15px;
}

/* Titres */

h2 {
    font-size: 20px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

h4 {
    font-size: 14px;
}

/* Lieu et prix */

a span.lieu {
    color: black;
    font-weight: 700;
    font-size: 18px;
}

a span.prix {
    color: #696767;
    font-size: 14px;
    font-weight: bold;
}

/*etoile*/

.etoile {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
}

.etoile .blue {
    color: #0065fc;
}

.etoile .grey {
    color: #e7e7e7;
}


/*header*/
header ul {
    display: flex;
    flex-wrap: wrap;
}
header li {
    width: 50%;
}
#logo {  
    padding-left: 20px;
}
#logo a {
    display: block;
    width: 120px;
    height: 50px;
}
#logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#inscrire {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
#inscrire a {
    color:#0065fc;
    font-weight: 700;
}

#hebergements,
#activite {
    text-align: center;
    border-bottom: 3px solid #e7e7e7;
    padding: 20px 0px 10px 0px;
}
#hebergements a,
#activite a {
    color: black;
    font-weight: bold;
}
#hebergements:hover,
#activite:hover {
    border-color: #0065FC;
}
#hebergements:hover a,
#activite:hover a {
    color: #0065FC !important;
}

/*Section recherche*/
section.recherche {
    padding: 20px;
}
section.recherche h2 {
    width: 100%;
    margin-bottom: 8px;
}
form .position {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin-top: 20px;
    border: none;
}
.position label {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
}
.position label i {
    padding: 12px;
    margin:0;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    background-color: #e7e7e7;
    border: none;
}
.position {
    border: 1px solid #e7e7e7;
    position: relative;
}
.position input {
    width: 100%;
    padding: 0 40px;
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    height: 38px;
    border: 1px solid #e7e7e7;
    border-radius: 13px;
}
.position input::placeholder {
    color: #000;
}
.position button {
    display: flex;
    justify-content: center;
    padding: 12px;
    margin:0;
    width: 38px;
    height: 38px;
    background-color: #0065fc;
    border-radius: 13px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}
.position button .rechercher {
    display: none;
}
.position button i {
    color: #fff;
    outline-style: none;
    border: none;
    background: none;
    line-height: 1;
}

/*section filtres*/
.filtres form {
    width: 100%;
    padding: 5px 25px 10px 25px;
}
.filtres h3 {
    width: 100%;
    padding-bottom: 10px;
}
.filtres label {    
    display: inline-block;
    position: relative;
    height: 40px;
    border-radius: 40px;
    border: 3px solid #ececec;
    line-height: 33px;
    padding: 0px 15px 0px 45px;
    margin: 5px;
}
.filtre label:hover {
    border: 1px solid #0065FC;
}
.filtres input {
    opacity: 0;
    position: absolute;
    left: 0px;
}
.filtres i {
    color: #0065FC;
}
.filtres .pastille {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -3px;
    left:-3px;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    background-color: #b7cff3;
}
.filtres .pastille:hover {
    border: 3px solid #0065fc;
}
.filtres span {
    font-weight: bold;
}

/*Information*/
.filtres p {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}
.filtres p .infos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    border-radius: 50%;
}
.filtres p .infos i {
    color: #0065fc;
    font-size: 10px;  
}
.filtres .dispo {
    width: 100%;
    display: flex;
    text-align: justify;
    padding: 4px 10px 0px 10px;
    color: #6d6a6a
}

/*section populaire*/
section.populaires {
    padding: 25px 15px 25px 15px;
    margin: 5px 0px;
    background-color: #e7e7e7;
    border: 1px solid #e6e6e6;
}
section.populaires h3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    justify-content: space-between;
}
.populaire i {
    color: black;
}
.populaires .hotel {
    padding: 5px;
    margin: 10px 0px;
    background: 100%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 1em 1em 1.5em rgba(165, 163, 163, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.populaires .cadre {
    display: inline;
    width: 40%;
    height: 120px;
}
.hotel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.populaires .texte {
    display: block;
    width: 50%;
    height: 120px;
    margin-right: 10px;
}
.populaires .texte span {
    display: block;
    padding-top: 5px;
    padding-bottom: 3px
}

/*section marseille hébergement*/
section.marseille {
    display: block;    
    padding: 20px 5px;
    margin: 5px;
}
.marseille h3 {
    display: block;
    margin-left: 20px;
}
.marseille .hebergement {
    display: block;
    padding: 5px;
    margin: 10px;
    height: 180px;
    background-color: #fff;
    border: 1px solid #f7f7f7;
    border-radius: 20px;
    box-shadow: 0.5em 0.5em 1em rgba(155, 153, 153, 0.3);
}
.marseille .cadre {
    display: block;
    padding: 3px;
    width: 100%;
    height: 100px;
    border-radius: 15px;
    overflow: hidden;    
}
.marseille .hebergement img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.marseille .hebergement .texte {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
.marseille button {
    color: black;
    font-weight: 700;
    font-size: 15px;
    margin-top: 10px;
    border: none;
    background: none;
}

/* section activites à Marseille*/
section.activites {
    display: block;
    padding: 0px 5px;
    margin: 5px;
    justify-content: center;
}
section.activites h3 {
    margin-left: 5px;
    margin-bottom: 15px;
}
section.activites .grande {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #f7f7f7;
    border-radius: 20px;
    box-shadow: 0.5em 0.5em 1.5em rgba(155, 153, 153, 0.3);
    overflow: hidden;
}
section.activites .petite {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #f7f7f7;
    border-radius: 20px;
    box-shadow: 0.5em 0.5em 1.5em rgba(155, 153, 153, 0.3);
    overflow: hidden;
}
.activites .grande .cadre {
    display: block;
    width: 100%;
    height: 120px;
}
.activites .petite .cadre {
    display: block;
    width: 100%;
    height: 120px;
}
.grande img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grande .lieu {
    display: block;
    padding: 15px 0px 10px 20px;
    height: 60px;
}
.petite img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.petite .lieu {
    display: block;
    padding: 15px 0px 10px 20px;
    height: 60px;
}


/* pied de page*/
footer {
    background-color: #e7e7e7;
    color:black;
    padding: 20px 25px 35px 25px;
}
footer.bloc-nav {
    display: block;
}
.bloc-nav h3 {
    color: black;
    padding: 15px 5px;
}
.bloc-nav li {
    margin-bottom: 3px;
}
.bloc-nav li a {
    color: #696767;
    font-size: 14px;
    font-weight: 700;
    padding: 0px 5px;
}



        /*Responsive Media Queries*/


                /* De 480 à 768 pixels*/
@media screen and (min-width: 480px) and (max-width: 768px) {
      
                    /* Recherche*/
    section.recherche {
        width: 100%;
    }
    form .position {
        display: flex;
        width: 80%;
    }
                
    .position button {
        width: initial;
        height: 38px;
        align-items: center;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .position button .rechercher {
        display: block;
        color: #fff;
        font-size: 16px;
    }

    .position button .icon {
        display: none;
    }

                    /* Filtres*/
    .filtre p {
        align-items: center;
    }
           
                     /* Section Populaire*/
    section.populaires {
        max-width: 576px;
        display: block;
        padding: 25px 15px 25px 15px;
        margin: auto;
        border-radius: 20px;
    }

                    /* Section Marseille hébergement*/
    section.marseille {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 1px solid #f7f7f7;
        border-radius: 20px;
        box-shadow: 0.5em 0.5em 1.5em rgba(155, 153, 153, 0.3);
        background-color: #e7e7e7;
        padding: 0;
        margin: 15px 0px;
    }
    .marseille h3 {
        width: 100%;
    }
    .marseille .hebergement {
        display: block;
        width: 30%;
        height: 220px;
        padding: 0;
        margin: 10px auto;
    }
    .marseille .texte .lieu {
        height: 45px;
    }
    .marseille button {
        display: block;
        padding: 5px 25px;
    }

            /* Section Activité Marseille*/
    section.activites {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 15px 30px;
    }
    .activites h3 {
        width: 100%;
        padding: 10px 0px;
    }
}

                        /* De 768 à 992 pixels*/

@media screen and (min-width: 768px) and (max-width: 992px) {
                
                    /* En tête avec LOGO*/
    header nav ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
    }
    header nav ul li {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
    }
    #logo {
        width: 60%;
        order: 0;
    }
    #inscrire {
        width: 12%;
        order: 3;
    }
    #herbergements {
        order: 1;    
    }
    #activite {
        order: 2;
    }
    #hebergements,
    #activite {
        width: 12%;
        text-align: center;
        border: 0;
        padding: 0;
    }

                    /* section Recherche*/
    section.recherche {
        padding: 20px 40px;
    }
    form .position {
        display: flex;
        width: 100%;
        max-width: 340px;
        align-items: center;
    }
    .position button {
        width: initial;
        height: 38px;
        align-items: center;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .position button .rechercher {
        display: block;
        color: #fff;
        font-size: 16px;
    }
    .position button .icon {
        display: none;
    }
                
                /* Section Filtres*/
    section.filtres {
        padding-left: 20px;
    }
    .filtres form {
        padding: 0px 25px;
    }
    .filtres h3 {
        width: auto;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
    }

                /* Section Populaire et Marseille hébergement*/
    .container {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        padding: 0px 20px;
    }

    section.populaires {
        width: 40%;
        display: block;
        padding: 25px 15px 25px 15px;
        margin: 5px 10px;
        border-radius: 20px;
    }
    .populaires h3 {
        margin-bottom: 10px;
    }
    .populaires i {
        margin-bottom: 0px;
    }
    .populaires .hotel {
        margin: 0px 0px 20px 0px;
    }
    .populaires .cadre {     
        height: 200px;
    }

    section.marseille {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 1px solid #f7f7f7;
        border-radius: 20px;
        background-color: #e7e7e7;
        margin: 5px 10px;
    }
    .marseille h3 {
        width: 100%;
    }
    .marseille .hebergement {
        display: block;
        width: 40%;
        height: 220px;
        padding: 2px;
        margin: 10px auto;
    }
    .marseille .texte .lieu {
        height: 45px;
    }
    .marseille button {
        display: block;
        padding: 5px 25px;
    }
                    /*Activite à Marseille*/

    section.activites {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    section.activites h3 {
        width: 100%;
        margin: 0;
        padding: 15px 5px;
    }

    /*grandes images*/
    .activites .large {
        display: block;
        width: 23%;
    }
    .activites .large .grande {
        width: 100%;
        border: 1px solid #f7f7f7;
        border-radius: 20px;
        box-shadow: 0.5em 0.5em 1.5em rgba(155, 153, 153, 0.3);
        overflow: hidden;
    }
    .activites .large .grande .cadre {
        display: block;
        width: 100%;
        height: 360px;
    }
    .activites .large .grande .cadre img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .activites .large .grande .cadre .lieu {
        display: block;
        padding: 15px 0px 10px 20px;
    }

    /* Medium*/
    .activites .medium {
        display: block;
        width: 23%;
    }
    .activites .medium .grande {
        width: 100%;
        margin-bottom: 20px;
    }
    .activites .medium .grande .cadre {
        display: block;
        width: 100%;
        height: 200px;
    }
    .activites .medium .grande .cadre img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .activites .medium .grande .cadre .lieu {
        display: block;
    }

    .activites .medium .petite {
        width: 100%;
        margin:0px;
    }
    .activites .medium .petite .cadre {
        display: block;
        width: 100%;
        height: 80px;
    }
    .activites .medium .petite .cadre img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .activites .medium .petite .cadre .lieu {
        display: block;
    }

    /*Moyenne*/
    .activites .moyenne {
        display: block;
        width: 23%;
    }
    .activites .moyenne .grande {
        width: 100%;
    }
    .activites .moyenne .grande .cadre {
        display: block;
        width: 100%;
        height: 180px;
    }
    .activites .moyenne .grande .cadre img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .activites .moyenne .grande .cadre .lieu {
        display: block;
    }

    .activites .moyenne .petite {
        width: 100%;
        margin-bottom: 20px;
    }
    .activites .moyenne .petite .cadre {
        display: block;
        width: 100%;
        height: 100px;
    }
    .activites .moyenne .petite .cadre img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .activites .moyenne .petite .cadre .lieu {
        display: block;
    }                 
    
                    /* Pied de page*/
    footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

                        /* De 992 à 1200 pixels*/

@media screen and (min-width: 992px) and (max-width: 1200px) {
        
                    /* En tête avec LOGO*/
    header nav ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
    }
    header nav ul li {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
    }
    #logo {
        width: 60%;
        order: 0;
    }
    #inscrire {
        width: 12%;
        justify-content: initial;
        order: 3;
        padding: 15px 20px 0px 0px;
    }
    #herbergements {
        order: 1;    
    }
    #activite {
        order: 2;
    }
    #hebergements,
    #activite {
        width: 12%;
        text-align: center;
        border: 0;
        padding: 0;
    }
    #hebergements,
    #activite {
        text-align: center;
        border-top: 3px solid #fff;
        padding: 20px 0px 10px 0px;
    }

    #hebergements a,
    #activite a {
        color: black;
        font-weight: bold;
    }

    #hebergements:hover,
    #activite:hover {
        border-color: #0065FC;
    }

    #hebergements:hover a,
    #activite:hover a {
        color: #0065FC !important;
    }

                    /* section Recherche*/
    section.recherche {
        padding: 20px 40px;
    }
    form .position {
        display: flex;
        width: 100%;
        max-width: 340px;
        align-items: center;
    }
    .position button {
        width: initial;
        height: 38px;
        align-items: center;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .position button .rechercher {
        display: block;
        color: #fff;
        font-size: 16px;
    }
    .position button .icon {
        display: none;
    }
                
                /* Section Filtres*/
    section.filtres {
        padding-left: 20px;
    }
    .filtres form {
        padding: 0px 25px;
    }
    .filtres h3 {
        width: auto;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
    }
    
                /* Section Populaire et Marseille hébergement*/
    .container {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        padding: 0px 20px;
    }

    section.populaires {
        width: 40%;
        height: 580px;
        display: block;
        padding: 25px 15px 25px 15px;
        margin: 5px 10px;
        border-radius: 20px;
    }
    .populaires h3 {
        margin-bottom: 0px;
    }
    .populaires i {
        margin-bottom: 0px;
    }
    .populaires .hotel {
        margin: 10px 0px 30px 0px;
    }

    section.marseille {
        width: 60%;
        height: 580px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 1px solid #f7f7f7;
        border-radius: 20px;
        background-color: #e7e7e7;
        padding: 0;
        margin: 5px 10px;
    }
    .marseille h3 {
        width: 100%;
        padding: 25px 0px 0px 0px;
    }
    .marseille .hebergement {
        display: block;
        width: 30%;
        height: 220px;
        padding: 0;
        margin: 10px auto;
    }
    .marseille .texte .lieu {
        height: 45px;
    }
    .marseille button {
        display: block;
        padding: 5px 25px;
    }

                    /*Activite à Marseille*/

    section.activites {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px;
    }
    
    section.activites h3 {
        width: 100%;
        margin: 0;
        padding: 15px 25px;

    }

    /*grandes images*/
    .activites .large {
        display: block;
        width: 22%;
    }
    .activites .large .grande {
        width: 100%;
        border: 1px solid #f7f7f7;
        border-radius: 20px;
        box-shadow: 0.5em 0.5em 1.5em rgba(155, 153, 153, 0.3);
        overflow: hidden;
    }
    .activites .large .grande .cadre {
        display: block;
        width: 100%;
        height: 360px;
    }
    .activites .large .grande .cadre img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .activites .large .grande .cadre .lieu {
        display: block;
        padding: 15px 0px 10px 20px;
    }

        /* Medium*/
    
    .activites .medium {
        display: block;
        width: 22%;
    }
    .activites .medium .grande {
        width: 100%;
        padding-bottom: 20px;
    }
    .activites .medium .grande .cadre {
        display: block;
        width: 100%;
        height: 180px;
    }
    .activites .medium .grande .cadre img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .activites .medium .grande .cadre .lieu {
        display: block;
    }

    .activites .medium .petite {
        width: 100%;
        margin:0px;
    }
    .activites .medium .petite .cadre {
        display: block;
        width: 100%;
        height: 80px;
    }
    .activites .medium .petite .cadre img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .activites .medium .petite .cadre .lieu {
        display: block;
    }

    /*Moyenne*/
    .activites .moyenne {
        display: block;
        width: 22%;
    }

    .activites .moyenne .petite {
        width: 100%;
        padding-bottom: 25px;
    }
    .activites .moyenne .petite .cadre {
        display: block;
        width: 100%;
        height: 100px;
    }
    .activites .moyenne .petite .cadre img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .activites .moyenne .petite .cadre .lieu {
        display: block;
    }

    .activites .moyenne .grande {
        width: 100%;
        margin:0px;
    }
    .activites .moyenne .grande .cadre {
        display: block;
        width: 100%;
        height: 150px;
    }
    .activites .moyenne .grande .cadre img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .activites .moyenne .grande .cadre .lieu {
        display: block;
    }

                  /* Pied de page*/
    footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px 100px 35px 20px;
    }
}


                     /* à partir de 1200 pixels*/

@media screen and (min-width: 1200px) {
    
                /* En tête avec LOGO*/
    header nav ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px 0px 20px;
    }
    header nav ul li {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
    }
    #logo {
        width: 60%;
        order: 0;
    }
    #inscrire {
        width: 12%;
        order: 3;
        justify-content: initial;
        padding: 15px 20px 0px 0px;
    }
    #herbergements {
        order: 1;    
    }
    #activite {
        order: 2;
    }
    #hebergements,
    #activite {
        width: 12%;
        align-items: center;
        border: 0;
        padding: 0;
    }
    #hebergements,
    #activite {
        text-align: center;
        border-top: 3px solid #fff;
        padding: 20px 0px 10px 0px;
    }
    #hebergements a,
    #activite a {
        color: black;
        font-weight: bold;
    }
    #hebergements:hover,
    #activite:hover {
        border-color: #0065FC;
    }

    #hebergements:hover a,
    #activite:hover a {
        color: #0065FC !important;
    }

                    /* section Recherche*/
    section.recherche {
        padding: 20px 40px;
    }
    form .position {
        display: flex;
        width: 100%;
        max-width: 340px;
        align-items: center;
    }
    .position button {
        width: initial;
        height: 38px;
        align-items: center;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .position button .rechercher {
        display: block;
        color: #fff;
        font-size: 16px;
    }
    .position button .icon {
        display: none;
    }
                
                /* Section Filtres*/
    section.filtres {
        padding-left: 20px;
    }
    .filtres form {
        padding: 0px 25px;
    }
    .filtres h3 {
        width: auto;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
    }
    
                /* Section Populaire et Marseille hébergement*/
    .container {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        padding: 0px 20px;
    }

    section.populaires {
        width: 40%;
        height: 580px;
        display: block;
        padding: 25px 15px 25px 15px;
        margin: 5px 10px;
        border-radius: 20px;
    }
    .populaires h3 {
        margin-bottom: 0px;
    }
    .populaires i {
        margin-bottom: 0px;
    }
    .populaires .hotel {
        margin: 0px 20px 23px 20px;
    }

    section.marseille {
        width: 60%;
        height: 580px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 1px solid #f7f7f7;
        border-radius: 20px;
        background-color: #e7e7e7;
        padding: 0;
        margin: 5px 10px;
    }
    .marseille h3 {
        width: 100%;
        margin-bottom: 10px;
        padding: 25px 0px 0px 0px;
    }
    .marseille .hebergement {
        display: block;
        width: 30%;
        height: 220px;
        padding: 0;
        margin: 10px auto;
    }
    .marseille .texte .lieu {
        height: 45px;
    }
    .marseille button {
        display: block;
        padding: 5px 25px;
    }

    /*Activite à Marseille*/

    section.activites {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px;
    }
    
    section.activites h3 {
        width: 100%;
        margin: 0;
        padding: 15px 25px;

    }

    /*grandes images*/
    .activites .large {
        display: block;
        width: 22%;
    }
    .activites .large .grande {
        width: 100%;
        border: 1px solid #f7f7f7;
        border-radius: 20px;
        box-shadow: 0.5em 0.5em 1.5em rgba(155, 153, 153, 0.3);
        overflow: hidden;
    }
    .activites .large .grande .cadre {
        display: block;
        width: 100%;
        height: 360px;
    }
    .activites .large .grande .cadre img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .activites .large .grande .cadre .lieu {
        display: block;
        padding: 15px 0px 10px 20px;
    }

        /* Medium*/
    
    .activites .medium {
        display: block;
        width: 22%;
    }
    .activites .medium .grande {
        width: 100%;
        margin-bottom: 40px;
    }
    .activites .medium .grande .cadre {
        display: block;
        width: 100%;
        height: 180px;
    }
    .activites .medium .grande .cadre img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .activites .medium .grande .cadre .lieu {
        display: block;
    }

    .activites .medium .petite {
        width: 100%;
        margin:0px;
    }
    .activites .medium .petite .cadre {
        display: block;
        width: 100%;
        height: 80px;
    }
    .activites .medium .petite .cadre img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .activites .medium .petite .cadre .lieu {
        display: block;
    }

    /*Moyenne*/
    .activites .moyenne {
        display: block;
        width: 22%;
    }

    .activites .moyenne .petite {
        width: 100%;
        margin-bottom: 50px;
    }
    .activites .moyenne .petite .cadre {
        display: block;
        width: 100%;
        height: 100px;
    }
    .activites .moyenne .petite .cadre img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .activites .moyenne .petite .cadre .lieu {
        display: block;
        padding-bottom: 25px;
    }

    .activites .moyenne .grande {
        width: 100%;
        margin:0px;
    }
    .activites .moyenne .grande .cadre {
        display: block;
        width: 100%;
        height: 150px;
    }
    .activites .moyenne .grande .cadre img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .activites .moyenne .grande .cadre .lieu {
        display: block;
    }

                 /* Pied de page*/

    footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px 350px 35px 20px;
    }
        
}


