*{
    margin: 0px;
    padding:0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Raleway";
}

body {
    color: black;
    font-weight: 400;
}

/* Titres */

h2 {
    font-weight: 700;
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 15px;
}

/* Lieu et prix */

a span.lieu {
    color: black;
    font-weight: 700;
    font-size: 18px;
}

a span.prix {
    color: black;
    font-size: 15px;
}

/*etoile*/

.etoile {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
}

.etoile .blue {
    color: #0065fc;
}

.etoile .grey {
    color: #e7e7e7;
}


/*header*/

header .accueil {
    display: inline;
    display: flex;
    flex-wrap: wrap;
}

#logo {  
    width: 50%;
    height: 95px;
    padding: 20px;
}

#logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#inscrire {
    width: 50%;
    height: 100px;
    padding-top: 45px;
    padding-left: 90px;
}

#inscrire a {
    color:#0065fc;
    font-weight: 700;
}


header .sinscrire {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-bottom: 15px;
}

#hebergements {
    width: 50%;
}

.sinscrire li.active a {
    color: #0065fc;
    border-bottom: 3px solid blue;
}

#activite {
    width: 50%;
}

.sinscrire li.active a {
    color:#0065fc;
    border-bottom: 3px solid #0065fc;
}


/*rechercher*/

section.recherche h2 {
    width: 100%;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 5px;
    text-align: left;
}

section.recherche p {
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 5px;
}

form .position {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 25px 25px 0px 25px;
    padding:0;
}

.position label i {
    padding: 12px;
    margin:0;
    border: 1px solid #e7e7e7;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    background-color: #e7e7e7;
}

.position input {
    width: 60%;
    padding: 10px;
    margin:0;
    border: 1px solid #e7e7e7;
    background-color: #fff;
}

.position button i {
    padding: 12px;
    margin:0;
    background-color: #0065fc;
    border-radius: 13px;
    color: #fff;
    border: #fff;
}


/*section filtres*/

.filtres form {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;    
}

.filtres h3 {
    width: 100%;
    margin-bottom: 10px;
}

.filtres label {    
    display: inline-block;
    position: relative;
    height: 40px;
    border-radius: 40px;
    border: 3px solid #ececec;
    line-height: 33px;
    padding: 0px 15px 0px 45px;
    margin-bottom: 5px;
}

.filtres input {
    opacity: 0;
    position: absolute;
    left: 0px;
}

.filtres i {
    color: #0065FC;
}

.filtres .pastille {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -3px;
    left:-3px;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    background-color: #87b3f5;
}

            /*Information*/

.informations {
    display: flex;
    margin-top: 30px;
    padding: 20px;
}

.informations .infos {
    display: inline-flex;
    padding: 10px;
    border: 2px solid #e7e7e7;
    background-color: #fff;
    border-radius: 100px;
    justify-content: center;
}

.informations .infos i {
    color: #0065fc;  
}

.information .dispo {
    display: inline-flex;
    
}

.information .dispo p {
    justify-content: center;
    padding: 10px;
    margin: 7px;
}

/*section populaire*/

section.populaires {
    padding: 40px 15px;
    margin: 5px;
    background-color: #e7e7e7;
    border: 1px solid #e7e7e7;
}

section.populaires h3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    justify-content: space-between;
}

.populaire i {
    color: black;
}

.populaires .hotel {
    padding: 5px;
    margin: 5px;
    background: 100%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 1px rgba(23, 23, 23, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.populaires .cadre {
    display: inline;
    width: 40%;
    height: 120px;
    padding-left: 1px;
}

.hotel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.populaires .texte {
    display: block;
    width: 50%;
    height: 120px;
    margin-right: 10px;
}

.populaires .texte span {
    display: block;
}



/*section marseille hébergement*/

section.marseille {
    display: block;    
    padding: 35px 5px;
    margin: 5px;
}

.marseille h3 {
    display: block;
    margin-left: 25px;
}

.marseille .hebergement {
    display: block;
    padding: 3px;
    margin: 15px;
    height: 190px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(92, 91, 91, 0.3);
    overflow: hidden;
}

.marseille .cadre {
    display: block;
    padding: 3px;
    width: 100%;
    height: 100px;
    border-radius: 15px;    
}

.hebergement img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 .hebergement .texte {
    width: 100%;
    height: 50px;
    padding-left: 10px;
}

.hebergement .texte span {
   display: block;
}

.marseille button {
    color: black;
    font-weight: 700;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 25px;
}


/* section activites à Marseille*/


section.activites {
    display: block;
    padding: 35px 5px;
    margin: 5px;
    justify-content: center;
}

section.activites h3 {
    margin-left: 25px;
    margin-bottom: 25px;
    justify-content: center;
}

section.activites .visite {
    display: block;
    margin-bottom: 25px;
    border: 1px solid #f7f7f7;
    border-radius: 15px;
    box-shadow: 2px 2px 1px rgba(23, 23, 23, 0.3);
    overflow: hidden;
}

.activites .cadre {
    display: block;
    width: 100%;
    height: 120px;
    
}

.visite img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visite .lieu {
    display: block;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* pied de page*/

footer {
    background-color: #e7e7e7;
    color:black;
    padding: 45px 25px;
    margin-top: 40px;
}

footer .bloc-nav {
    margin-bottom: 25px;
}

footer .bloc-nav h4 {
    margin-bottom: 15px;
}

footer .bloc-nav li {
    margin-bottom: 8px;
    color: black;
}


